<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Portfólio | Renan Delbue</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    
    <link rel="stylesheet" href="../assets/css/padrao.css">
    <link rel="stylesheet" href="../assets/css/portfolio.css">

    <link rel="icon" href="../assets/images/client/simbol.png">

    <script src="../assets/script/portfolio.js" defer></script>
    <script src="../assets/script/padrao.js" defer></script>
</head>
<body>
    <header>
        <div class="dvContainer">
            <nav class="nvPags">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="trabalho.html">Trabalho</a></li>
                </ul>
            </nav>
    
            <div id="dvLogo">
                <img src="../assets/images/client/logo.png" alt="Logo Renan Delbue">
            </div>
            
            <nav class="nvPags">
                <ul>
                    <li class="liSelect"><a href="portfolio.html">Portfólio</a></li>
                    <li><a href="orcamento.html">Orçamentos</a></li>
                </ul>
            </nav>

            <div id="dvMenu">
                <img id="imgIcon" src="../assets/images/icons/menu.png" alt="Menu para outras páginas">
            </div>
        </div>        
    </header>

    <div id="dvFundoMenu">
        <nav class="nvPags">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="trabalho.html">Trabalho</a></li>
                <li class="liSelect"><a href="portfolio.html">Portfólio</a></li>
                <li><a href="orcamento.html">Orçamentos</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <section id="sctBanner">
            <h1>Portfólio</h1>
        </section>
        
        <section id="sctProjetos">
            <div class="dvContainer">
                <!-- Imagens Projetos -->
                <div class="dvFundo">
                    <h2>House N Deep</h2>
                    <div class="dvSub">
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto1_img1.jpg" alt="Foto tirada em evento.">                                                        
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto1_img2.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto1_img3.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto1_img4.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto1_img5.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto1_img6.jpg" alt="Foto tirada em evento.">
                        </div>
                    </div>
        
                    <h2>GLOBECOM</h2>
                    <div class="dvSub">
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto2_img1.jpg" alt="Foto tirada em evento.">                                                        
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto2_img2.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto2_img3.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto2_img4.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto2_img5.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto2_img6.jpg" alt="Foto tirada em evento.">
                        </div>
                    </div>
        
                    <h2>Ensaio Dia Dos Namorados</h2>
                    <div class="dvSub">
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto3_img1.png" alt="Foto tirada em ensaio fotográfico.">                                                        
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto3_img2.png" alt="Foto tirada em ensaio fotográfico.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto3_img3.png" alt="Foto tirada em ensaio fotográfico.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto3_img4.png" alt="Foto tirada em ensaio fotográfico.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto3_img5.png" alt="Foto tirada em ensaio fotográfico.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto3_img6.png" alt="Foto tirada em ensaio fotográfico.">
                        </div>
                    </div>
        
                    <h2>Estação Canaã</h2>
                    <div class="dvSub">
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto4_img1.png" alt="Foto tirada em evento.">                                                        
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto4_img2.png" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto4_img3.png" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto4_img4.png" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto4_img5.png" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto4_img6.png" alt="Foto tirada em evento.">
                        </div>
                    </div>
        
                    <h2>Festa De 15 Anos Da Luana</h2>
                    <div class="dvSub">
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto5_img1.jpg" alt="Foto tirada em evento.">                                                        
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto5_img2.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvAlto">
                            <img src="../assets/images/media/projeto5_img3.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto5_img4.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto5_img5.jpg" alt="Foto tirada em evento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto5_img6.jpg" alt="Foto tirada em evento.">
                        </div>
                    </div>
        
                    <h2>Casamento de Ingrid & Lucas</h2>
                    <div class="dvSub">
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto6_img1.jpg" alt="Foto tirada em casamento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto6_img2.jpg" alt="Foto tirada em casamento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto6_img3.jpg" alt="Foto tirada em casamento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto6_img4.jpg" alt="Foto tirada em casamento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto6_img5.jpg" alt="Foto tirada em casamento.">
                        </div>
        
                        <div class="dvImagem dvLarga">
                            <img src="../assets/images/media/projeto6_img6.jpg" alt="Foto tirada em casamento.">
                        </div>
                    </div>
                </div>

                <a href="https://linktr.ee/renandelbue?fbclid=PAAabvbUfHJTXBvzpxentgvRVAhsCBnSqY7ckiohiOqmKluc0Vb_Kf51JQP_E" target="_blank"><button>Ver Mais Projetos</button></a>
            </div>            
        </section>
    </main>

    <footer>
        <div class="dvContainer">
            <div class="dvPri">
                <ul>
                    <li class="dvTit">Mapa do Site</li>

                    <li><a href="../index.html">➤ Home</a></li>
                    <li><a href="trabalho.html">➤ Trabalho</a></li>
                    <li><a href="portfolio.html">➤ Portfólio</a></li>
                    <li><a href="orcamento.html">➤ Orçamentos</a></li>
                </ul>
        
                <address>
                    <div class="dvSub">
                        <p>
                            Telefone: +55 (21) 98294-6732
                            <br>
                            Endereço: Rua Cinco, 115-1, Taquara, RJ
                        </p>

                        <div>
                            <a href="https://web.whatsapp.com/send?phone=5521982946732" target="_blank"><img src="../assets/images/icons/whatsapp.png" alt="Ícone Whatsapp"></a>
                            <a href="https://www.facebook.com/RenanDelbueFotografia" target="_blank"><img class="dvEx" src="../assets/images/icons/facebook.png" alt="ícone Facebook"></a>
                            <a href="https://www.instagram.com/renandelbue/?igshid=MTg0ZDhmNDA%3D" target="_blank"><img src="../assets/images/icons/instagram.png" alt="Ícone Instagram"></a>
                        </div>                        
                    </div>

                    <div class="dvSub">
                        <iframe width="500" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=400&amp;height=400&amp;hl=en&amp;q=Rua%20Cinco,%20115-1,%20Taquara,%20Duque%20de%20Caxias,%20RJ+(Renan%20Delbue)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    </div>
                </address>
            </div>

            <div class="dvSeg">
                <p>2023 © Todos os direitos reservados</p>
            </div>
        </div>
    </footer>

    <div id="dvFundoImg">
        <img id="imgImagem" alt="Imagem do portfólio">
    </div>
</body>
</html>
