<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Trabalho | Renan Delbue</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    
    <link rel="stylesheet" href="../assets/css/padrao.css">
    <link rel="stylesheet" href="../assets/css/trabalho.css">

    <link rel="icon" href="../assets/images/client/simbol.png">

    <script defer src="../assets/script/trabalho.js"></script>
    <script src="../assets/script/padrao.js" defer></script>
</head>
<body>
    <header>
        <div class="dvContainer">
            <nav class="nvPags">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li class="liSelect"><a href="trabalho.html">Trabalho</a></li>
                </ul>
            </nav>
    
            <div id="dvLogo">
                <img src="../assets/images/client/logo.png" alt="Logo Renan Delbue">
            </div>
            
            <nav class="nvPags">
                <ul>
                    <li><a href="portfolio.html">Portfólio</a></li>
                    <li><a href="orcamento.html">Orçamentos</a></li>
                </ul>
            </nav>

            <div id="dvMenu">
                <img id="imgIcon" src="../assets/images/icons/menu.png" alt="Menu para outras páginas">
            </div>
        </div>        
    </header>

    <div id="dvFundoMenu">
        <nav class="nvPags">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="liSelect"><a href="trabalho.html">Trabalho</a></li>
                <li><a href="portfolio.html">Portfólio</a></li>
                <li><a href="orcamento.html">Orçamentos</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <section id="sctBanner"></section>

        <section id="sctRecursos">
            <div class="dvContainer">
                <h1>Recursos</h1>

                <div class="dvFundo">
                    <div class="dvCard">
                        <img class="imgIcones" src="../assets/images/icons/edit.png" alt="Ícone de edições">
    
                        <h2>Edições</h2>
                        <p>
                            As edições consistem em adicionar tratamentos de cor e imagem
                            às fotografias. Elas servem como uma finalização para as fotos,
                            para adicionar ainda mais qualidade e obter um resultado visual
                            ainda mais profissional. Eu utilizo programas especializados
                            para o tratamento de imagens, principalmente o Adobe Photoshop.
                        </p>
                    </div>
    
                    <div class="dvCard">
                        <img class="imgIcones" src="../assets/images/icons/video.png" alt="Ícone de filmagem">
    
                        <h2>Filmagens</h2>
                        <p>
                            Ter vídeos dos seus momentos favoritos é importante. É uma forma
                            de eternizar não apenas imagens, mas também seus sentimentos em
                            relação a aquele evento. Especialista em selecionar os melhores
                            clipes, reorganizar e editar vídeos, dou uma atenção especial
                            as imagens aéreas, além de atuar como filmmaker.
                        </p>
                    </div>
    
                    <div class="dvCard">
                        <img class="imgIcones" src="../assets/images/icons/camera.png" alt="Ícone de fotografia">
    
                        <h2>Fotografia</h2>
                        <p>
                            Fotografia é a técnica de criar imagens, é uma arte visual.
                            Fotografar vai além de apenas salvar uma imagem, é registrar
                            um momento, um sentimento e eternizar uma memória. Com os
                            equipamentos certos e técnicas refinadas, busco filtrar o
                            melhor daquele momento, fotografando dos melhores ângulos.
                        </p>
                    </div>
                </div>                
            </div>            
        </section>

        <section id="sctServicos">
            <div class="dvContainer">
                <h1>Serviços</h1>

                <!-- Imagens Cards -->
                <div class="dvFundo">
                    <a href="#dvDesc">
                        <div class="dvCard dvEx">
                            <img src="../assets/images/media/drone.jpg" alt="Imagem de drone">

                            <div class="dvSub">
                                <h2>Drone</h2>
                                <h3>Imagens Aéreas</h3>

                                <img src="../assets/images/icons/plus.png" alt="Ícone expandir">
                            </div>
                        </div>
                    </a>
                    <a href="#dvDesc">
                        <div class="dvCard">
                            <img src="../assets/images/media/estudio.jpg" alt="Imagem tirada em um ensaio fotográfico">

                            <div class="dvSub">
                                <h2>Ensaios Fotográficos</h2>
                                <h3>Em estúdio e ao ar livre</h3>

                                <img src="../assets/images/icons/plus.png" alt="Ícone expandir">
                            </div>
                        </div>
                    </a>
                    <a href="#dvDesc">
                        <div class="dvCard dvEx">
                            <img src="../assets/images/media/divulgacao.jpg" alt="Imagem tirada ao ar livre">

                            <div class="dvSub">
                                <h2>Divulgação</h2>
                                <h3>Produtos</h3>

                                <img src="../assets/images/icons/plus.png" alt="Ícone expandir">
                            </div>
                        </div>
                    </a>
                    <a href="#dvDesc">
                        <div class="dvCard">
                            <img src="../assets/images/media/evento.jpg" alt="Imagem tirada em evento">

                            <div class="dvSub">
                                <h2>Eventos</h2>
                                <h3>Fotografias e filmagens!</h3>

                                <img src="../assets/images/icons/plus.png" alt="Ícone expandir">
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Imagens e Vídeo Descrição -->
                <div id="dvDesc">
                    <div class="dvSub">
                        <div class="dvSubSub">
                            <h2>Drone</h2>
                            <h3>Imagens Aéreas</h3>

                            <p>Quer uma visão aérea de seu ensaio ou evento?</p>

                            <ul>
                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Imagens únicas e diferentes
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    4 anos de experiência como piloto de drone
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Equipamento: Drone DJI
                                </li>
                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Autorização pela ANAC e ANATEL para vôo
                                </li>                                
                            </ul>

                            <a href="orcamento.html"><button>Fazer Orçamento</button></a>
                        </div>

                        <div class="dvSubSub">
                            <video src="../assets/videos/drone.mp4" autoplay loop muted></video>
                        </div>
                    </div>

                    <div class="dvSub">                         
                        <div class="dvSubSub">
                            <h2>Ensaios Fotográficos</h2>
                            <h3>Em estúdio e ao ar livre</h3>

                            <p>Quer tirar fotos incríveis em um lugar reservado ou até mesmo ao ao livre: na rua, em lugares históricos ou na natureza?</p>

                            <ul>
                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Ensaios com e sem tema, a pedido do cliente.
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Uso de técnica fotográfica avançada.
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Equipamentos: Câmeras, refletores, rebatefores e outros.
                                </li>                               
                            </ul>

                            <a href="orcamento.html"><button>Fazer Orçamento</button></a>
                        </div>

                        <div class="dvSubSub">
                            <img src="../assets/images/media/estudio_desc.jpg" alt="Foto tirada em ensaio fotográfico no estúdio">
                        </div>
                    </div>

                    <div class="dvSub">                        
                        <div class="dvSubSub">
                            <h2>Divulgação</h2>
                            <h3>Produtos</h3>

                            <p>Tenha fotos profissionais dos seus produtos para os clientes ficarem loucos!</p>

                            <ul>
                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Fotos de qualquer produto.
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Ambiente da foto da escolha do cliente.
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    Capturação de alguns produtos até o cardápio inteiro.
                                </li>                               
                            </ul>

                            <a href="orcamento.html"><button>Fazer Orçamento</button></a>
                        </div>

                        <div class="dvSubSub">
                            <img src="../assets/images/media/divulgacao_desc.jpg" alt="Foto de um produto">
                        </div>
                    </div>

                    <div class="dvSub">                        
                        <div class="dvSubSub">
                            <h2>Eventos</h2>
                            <h3>Fotografias e Filmagens!</h3>

                            <p>Eternize seu evento com alta qualidade e profissionalismo.</p>

                            <ul>
                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    De aniversários e casamentos até shows, desfiles e campeonatos.
                                </li>

                                <li>
                                    <img src="../assets/images/icons/seta.png" alt="Ícone check">
                                    O evento e a localidade devem ser informados com antecedência.
                                </li>                          
                            </ul>

                            <a href="orcamento.html"><button>Fazer Orçamento</button></a>
                        </div>

                        <div class="dvSubSub">
                            <img src="../assets/images/media/eventos_desc.png" alt="Foto tirada em evento.">
                        </div>
                    </div>
                </div>
            </div>            
        </section>
    </main>

    <footer>
        <div class="dvContainer">
            <div class="dvPri">
                <ul>
                    <li class="dvTit">Mapa do Site</li>

                    <li><a href="../index.html">➤ Home</a></li>
                    <li><a href="trabalho.html">➤ Trabalho</a></li>
                    <li><a href="portfolio.html">➤ Portfólio</a></li>
                    <li><a href="orcamento.html">➤ Orçamentos</a></li>
                </ul>
        
                <address>
                    <div class="dvSub">
                        <p>
                            Telefone: +55 (21) 98294-6732
                            <br>
                            Endereço: Rua Cinco, 115-1, Taquara, RJ
                        </p>

                        <div>
                            <a href="https://web.whatsapp.com/send?phone=5521982946732" target="_blank"><img src="../assets/images/icons/whatsapp.png" alt="Ícone Whatsapp"></a>
                            <a href="https://www.facebook.com/RenanDelbueFotografia" target="_blank"><img class="dvEx" src="../assets/images/icons/facebook.png" alt="ícone Facebook"></a>
                            <a href="https://www.instagram.com/renandelbue/?igshid=MTg0ZDhmNDA%3D" target="_blank"><img src="../assets/images/icons/instagram.png" alt="Ícone Instagram"></a>
                        </div>                        
                    </div>

                    <div class="dvSub">
                        <iframe width="500" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=400&amp;height=400&amp;hl=en&amp;q=Rua%20Cinco,%20115-1,%20Taquara,%20Duque%20de%20Caxias,%20RJ+(Renan%20Delbue)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    </div>
                </address>
            </div>

            <div class="dvSeg">
                <p>2023 © Todos os direitos reservados</p>
            </div>
        </div>
    </footer>
</body>
</html>